:root {
    --sliderWidth: 90px;
    user-select: none
}
@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
        url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
        url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@keyframes gradient {
    0% {
        background-position: 150% 150% 
   }
    to {
        background-position: -150% -150% 
   }
}
.main {
    position: relative;
    z-index: 1 
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
html, button, input, select, textarea {
    font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4c4c4c 
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    background: url('../img/background.svg');
}
svg {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.2));
    top: 0;
    left: 0;
    z-index: -1 
}
svg .cable {
    cursor: url('../img/scissors.svg') 5 3, move;
}
.alert .alertText {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    width: 160px;
    background-color: rgb(100, 43, 43);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -7%;
    right: 65%;
    text-transform: none 
}
.alert .alertText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 1;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(100, 43, 43) 
}
.nav {
    padding: 0.5em;
    margin-left: 8px;
    display: inline-block;
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.2));
    z-index: 1000;
    position: relative 
}
.nav .nav-list {
    list-style: none;
    margin: 0;
    padding: 0 
}
.nav .nav-list .menu {
    float: left;
    margin-right: .8em;
    position: relative 
}
.nav .nav-list .menu:hover .submenu {
    display: block 
}
.nav .nav-list .menu .menu-button  {
    background:  rgb(224, 224, 224);
    border-radius: 5px;
    display: block;
    font-size: .625em;
    padding: .5em 1em ;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; 
}
.nav .nav-list .menu .menu-button:hover {
    background:  rgb(240, 240, 240);
}
.nav .nav-list .menu .menu-button::before  {
    content: url('../img/add.svg');
    filter: brightness(0) contrast(0.1);
    margin-right: 7px;
    position: relative;
    top: 1px;
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
}
.nav .nav-list .menu .menu-button.tutorials::before  {
    content: url('../img/tutorial.svg')
}
.nav .nav-list .menu .menu-button:hover::before  {
    filter: none
}
.nav .nav-list .menu .submenu {
    display: none;
    padding-top: 8px;
    position: absolute 
}
.nav .nav-list .menu .submenu .submenu-list {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    list-style: none;
    padding: .2em 0;
    position: relative;
}

.nav .nav-list .menu .submenu .submenu-list::after, .submenu-list::before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none 
}
.nav .nav-list .menu .submenu .submenu-list::after {
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: 6px 
}
.nav .nav-list .menu .submenu .submenu-list::before {
    border-bottom-color: #aaa;
    border-width: 9px;
    margin-left: 5px 
}
.nav .nav-list .menu .submenu .submenu-list .submenu-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-list .menu .submenu .submenu-list .submenu-item .form-help {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 10px;
    height: 10px;
}

.nav .nav-list .menu .submenu .submenu-list .submenu-item .form-help .help {
    background: url('../img/help.svg') no-repeat center center;
    background-size: contain; 
    filter: brightness(0) contrast(0.1);
    opacity: 0.5;
    width: 7px;
    height: 7px;
    -webkit-transition: filter,width,height 0.2s;
    -moz-transition: filter,width,height 0.2s;
    -o-transition: filter,width,height 0.2s;
    transition: filter,width,height 0.2s;
    border: none;
    cursor: pointer ;
}
.nav .nav-list .menu .submenu .submenu-list .submenu-item .form-help:hover .help {
    filter: none;
    opacity: 1;
    width: 100%;
    height: 100%;
}
.nav .nav-list .menu .submenu .submenu-list .submenu-item .submenu-button, .tutorial {
    background: #fff;
    font-size: .625em;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    padding: 0.8em;
    cursor: pointer 
}
.nav .nav-list .menu .submenu .submenu-list .submenu-item .submenu-button:hover, .tutorial:hover, .help:hover {
    background: linear-gradient(90deg, rgba(219,219,219,1) 60%,#ffffff);
}
.nav .nav-list .menu .submenu .submenu-list .submenu-item .tutorial {
    border: none;
}
.selection-rect {
    border: 1px dotted #000;
    position: absolute;
    background: #1c94c44b 
}
.module {
    border-radius: 5px;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    position: absolute; 
}
.module .left-and-front-side {
    display: flex 
}
.module .front-side {
    background: linear-gradient(95deg, transparent 3%, #9a9a9a 5px, #9a9a9a 20%, transparent 72%), linear-gradient(105deg, transparent 44%, transparent calc(100% - 10px), #545252 calc(100% - 4px), transparent) ;
}
.module .left-side {
    width: 7px;
    background: linear-gradient(103deg, transparent 7.5px, #cacaca 8.5px, #9a9a9a 80%) 
}
.module .head {
    display: flex;
    background: #f1f1f1;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px 5px 0 0 
}
.module .head .title-wrapper {
    width: 100%;
    cursor: grab;
    padding: 0 5px 
}
.module .head .title-wrapper .title {
    font-size: 0.7em;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: 700;
    color: transparent;
    text-transform: uppercase;
    text-shadow: rgba(245, 245, 245, 0.5) 1px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1px 
}

.module .head .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 -2.5px 
}
.module .head .buttons-wrapper button {
    margin: 0 2.5px;
    cursor: pointer 
}
.module .head .buttons-wrapper .close {
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) contrast(0.1);
    background-size: contain;
    height: 9px;
    width: 9px;
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s
}
.module .head .buttons-wrapper .close:hover {
    filter: none;
}
.module .head .buttons-wrapper .maximize {
    background-image: url('../img/maximize.svg');
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) contrast(0.1);
    background-size: contain;
    height: 9px;
    width: 9px;
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s
}
.module .head .buttons-wrapper .maximize:hover {
    filter: none
}
.module .socket-wrapper {
    height: 30px;
    width: 30px;
    left: -24px;
    top: 22px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: crosshair;
    z-index: 1 
}
.module .socket-wrapper img {
    height: 22px;
    object-fit: contain 
}

.module .content {
    background: #f1f1f1;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30px;
    border-radius: 0 0 10px 10px 
}
.module .content.envelope {
    flex-direction: column-reverse;
}
.module .content.envelope .envelope-visualizer { 
    width: 85%;
    overflow: visible;
    z-index: 1;
    position: relative;
    filter: none;
    margin-bottom: 10px;
}
.module .content.envelope .envelope-visualizer text {
    font-weight: 700;
}
.module .content.envelope .envelope-visualizer .axis-text {
    font-weight: 100;
    fill: #808080;
}
.module .content.envelope .envelope-visualizer polygon {
        fill:#808080;
}
.module .content.envelope .envelope-visualizer .slider-path {
    fill: transparent;
    stroke: black;
    stroke-dasharray: 2 5;
    stroke-width: 1;
}
.module .content.envelope .envelope-visualizer .axis {
    fill:#808080;
    stroke:#808080;
    stroke-width:1;
}
.module .content.envelope .envelope-visualizer .current-path {
    fill: #3cacd8;
    stroke: #3cacd8;
    stroke-width: 2;
}
.module .content.envelope .envelope-visualizer circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
}
.module .content.envelope .envelope-visualizer .value-line {
    fill:#808080;
    stroke:#808080;
    stroke-width:1;
}
.module .content .microphone {
    font-size: 38px;
    transform: rotate(245deg);
    -webkit-transform: rotate(245deg);
    -moz-transform: rotate(245deg);
    -ms-transform: rotate(245deg);
    -o-transform: rotate(245deg);
}
.module .content .options {
    display: flex;
    min-height: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center 
}
.module .content .options select {
    background: url('../img/arrow_down.svg') 95% 50% no-repeat;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: .625em;
    outline: none;
    white-space: pre;
    min-width: 100px;
    width: 100%;
    margin: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-align: center; 
    -moz-box-align: center; 
    -ms-box-align: center 
}
.module .content .options .looper, .normalizer {
    border-left: 1px solid #dbdbdb;
    font-size: .625em;
    padding: 4px;
    text-transform: uppercase;
    width: 50px;
    display: flex;
    justify-content: center 
}
.module .content .options .looper label, .module .content .options .normalizer label {
    width: 100%;
    align-self: center 
}

.module .content .controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: .25em 
}
.module .content .controllers.visualisation {
    flex-direction: column 
}
.module .content .controllers img{
    width: 70px 
}
.module .content .controllers .analyser {
    background-image: url('../img/background_analyser.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 
}
.module .content .controllers .analyser.visualisation {
    background-image: url('../img/background_visualisation.svg');
}
.module .content .controllers .analyser.spectro {
    background-image: url('../img/background_spectro.svg');
}
.module .content .controllers .analyser canvas {
    margin: 5px 5px 0 0;
    padding: 0 0 0 5px 
}

.module .content .controllers .switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .625em;
    position: relative;
    text-transform: uppercase;
}

.module .content .controllers .switch button {
    background-image: url('../img/switch_off.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45px;
    height: 40px;
    -webkit-transition: background-image 0.1s;
    -moz-transition: background-image 0.1s;
    -o-transition: background-image 0.1s ;
    transition: background-image 0.1s;
}
.module .content .controllers .switch button.switch-on {
    background-image: url('../img/switch_on.svg') 
}

.module .content .controllers .sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row 
}
.module .content .controllers .sliders .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.module .content .controllers .sliders .slider-debug {
    display: none;
}
.module .content .controllers .sliders .slider-debug.show {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: .625em;
    margin-top: 1em;
}
.module .content .controllers .sliders .slider-debug .debug-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}
.module .content .controllers .sliders .slider-debug .hide-button {
    background-image: url('../img/hide.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: brightness(0) contrast(0.1);
    height: 9px;
    margin-top: 5px;
    margin-bottom: 3px;
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
}
.module .content .controllers .sliders .slider-debug .hide-button:hover  {
    filter: none
}
.module .content .controllers .sliders .slider-debug .debug-text span{
    font-weight: bold;
    padding-left: 5px;
}

.module .content .controllers .sliders .slider .slider-info {
    font-size: .625em;
    margin-bottom: 1em;
    /* padding-bottom: .4em; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center 
}
.module .content .controllers .sliders .slider .slider-info .label {
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    text-shadow: rgba(245, 245, 245, 0.5) 1px 1px 1px;
    text-transform: uppercase;
    cursor: help;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.module .content .controllers .sliders .slider .slider-info .label .label-span{
    width: 100%;
    text-align: center;
}
.module .content .controllers .sliders .slider .slider-info .label .label-tooltip {
    visibility: hidden;
    width: 160px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    transition: opacity 1s;
    text-transform: none 
}
.module .content .controllers .sliders .slider .slider-info .label .label-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent 
}
.module .content .controllers .sliders .slider .slider-info .label:hover .label-tooltip {
    visibility: visible;
    opacity: 1 
}
.module .content .controllers .sliders .slider .slider-info .value-unit {
    display: flex;
    min-width: 59px;
    justify-content: center 
}

.module .content .controllers .sliders .slider .slider-info .value-unit .value {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 2px 
}
.module .content .controllers .sliders .slider .input-wrapper {
    height: var(--sliderWidth);
    position: relative 
}
.module .content .controllers .sliders .slider .input-wrapper input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #000000;
    height: 2px;
    outline: none;
    width: var(--sliderWidth);
    position: absolute;
    right: -1px;
    transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    -webkit-transform:rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    -moz-transform:rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    -ms-transform:rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    -o-transform:rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    bottom: 0 
}
.module .content .controllers .sliders .slider .input-wrapper input[type="range"].disabled {
    pointer-events: none;
    background: linear-gradient(90deg, black, #FFD700, black);
    background-size: 300%;
    opacity: 0.7;
    animation: gradient 3s linear infinite 
}
.module .content .controllers .sliders .slider .input-wrapper input[type="range"].not_used {
    pointer-events: none;
    opacity: 0.5 
}

.module .content .controllers .sliders .slider .input-wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../img/slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain 
}
.module .content .controllers .sliders .slider .input-wrapper input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
    border: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../img/slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain 
}
.module .footer {
    background: linear-gradient(105deg, #9a9a9a 8px, #797575 12px, #797878, transparent calc(100% - 30px)), linear-gradient(105deg, transparent 30%, #545252 31%, #545252 calc(100% - 7.5px), transparent calc(100% - 6.5px));
    padding: 0 8px 0 11px;
    display: flex;
    height: 20px;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 0 16px 10px 
}
.module .footer.move-by-switch {
    padding-right: 50px 
}
.module .footer .parameter-wrapper {
    padding-top: 3.5px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: crosshair 
}
.module .footer .parameter-wrapper.disabled {
    opacity: 0.5;
    pointer-events: none 
}
.module .footer .parameter-wrapper img {
    width: 25px;
    object-fit: contain 
}
.mixer {
    font-size: 10px;
    text-transform: uppercase;
    position:absolute;
    bottom: 0;
    background-color: #b1acac;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mixer .controllers {
    max-height: 0px;
    transition: max-height 0.2s ease-out;
}
.mixer .controllers.show {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 300px;
}
.mixer .controllers .mixer-controller {
    display: none
}
.mixer .controllers.show .mixer-controller {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mixer .controllers.show .mixer-controller.nothing {
    background-image: url('../img/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45px;
    height: 40px;
}
.mixer .controllers .mixer-controller .moduleName {
    border-radius: 5px;
    border: 2px solid rgb(66, 66, 66);
    padding: 5px 7px;
    display: inline-block;
    background-color: #c2b0b0;
}
.mixer .controllers .mixer-controller .solo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mixer .controllers button {
    background-image: url('../img/switch_on.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 45px;
    height: 40px;
}
.mixer .controllers .mixer-controller .solo-button {
    background-image: url('../img/switch_off.svg');
}
.mixer .controllers .mixer-controller .mute-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mixer .hide-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.mixer .hide-wrapper .hide-button {
    width: 21px;
    height: 14px;
    background: url('../img/hide.svg') no-repeat;
    background-size: contain;
    filter: brightness(0) contrast(0.1);
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
}
.mixer .hide-wrapper .hide-button.show {
    transform: rotate(180deg);
}
.mixer .hide-wrapper .hide-button:hover {
    filter: none;
}
