/* main.css */

/*	---------------------------------------------------------------------------
 *	:: Type
 *
 *  - Fonts
 *	- Base
 *	- Links
 *	-------------------------------------------------------------------------*/


:root {
    --sliderWidth: 90px;
    user-select: none
}

div.link {
    position: fixed;
    font-style: italic;
    color: lightgrey;
    bottom: 0px;
    right: 120px;
}

div.link a {
    color: white;
    font: inherit;
    text-decoration: underline;
}

/* Fonts */
@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
        url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
        url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base */
html,
button,
input,
select,
textarea {
    font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4c4c4c;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/* Links */
a,
a:visited {
    color: #4c4c4c;
    font-size: .6875em;
    /* 11 / 16 */
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}


/*	---------------------------------------------------------------------------
 *	:: Raw elements
 *	-------------------------------------------------------------------------*/
body {
    background: url('../img/body-bkg.gif');
}


/*	---------------------------------------------------------------------------
 *	:: Main
 *
 *	- Header
 *	- Nav
 *  - Controls
 *  - Dropdown
 *  - Dropdown arrow
 *  - Modules
 *	-------------------------------------------------------------------------*/
#main {
    padding-right: 106px;
    position: relative;
    z-index: 1;
}

#svgCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.2));
    top: 0;
    left: 0;
    z-index: -1;
}

/* Header */
#header {
    margin: 0;
    padding: 2em 0 0 2em;
}

/* Nav */
#nav {
    margin: 0 0 1.3em;
    padding: 1.3em 0 0 2em;
}

/* Controls */
#controls {
    list-style: none;
    margin: 0;
    padding: 0;
}

#controls li {
    float: left;
    margin-right: .8em;
    position: relative;
}

#controls a {
    background: url('../img/ico-plus.png') .9em 50% no-repeat #fff;
    border-radius: 5px;
    color: #4c4c4c;
    display: block;
    font-size: .625em;
    /* 11 / 16 */
    padding: .5em 1em .4em 2.6em;
    text-transform: uppercase;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

/* Dropdown */
#controls .sub-menu {
    display: none;
    left: 0;
    padding-top: 8px;
    position: absolute;
    z-index: 1000;
}

#controls ul {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: .2em 0;
    position: relative;
}

#controls ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#controls ul a {
    background: none;
    background-image: none;
    border-radius: 0;
    padding: .5em 1em .4em;
    white-space: nowrap;
}

#controls ul a:hover {
    background-color: #dbdbdb;
}

#controls li:hover .sub-menu {
    display: block;
}

/* Dropdown arrow */
#controls ul:after,
#controls ul:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#controls ul:after {
    border-bottom-color: #ffffff;
    border-width: 8px;
    left: 20%;
    margin-left: -8px;
}

#controls ul:before {
    border-bottom-color: #aaa;
    border-width: 9px;
    left: 20%;
    margin-left: -9px;
}

/* Modules */
#modules {
    padding-left: 2em;
}


/*	---------------------------------------------------------------------------
 *	:: Global classes and styles
 *
 *	- Clearfix
 *	- Nodes
 *	- Modules
 *	- Module nodes
 *	- Module close
 *	- Module footer
 *	- Control group
 *	- Slider
 *	-------------------------------------------------------------------------*/

/* Clearfix */
.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.container {
    *zoom: 1;
}

.selection-rect {
    border: 1px dotted #000;
    position: absolute;
    background: #1c94c44b;
}


/* Modules */
.module {
    border-radius: 5px;
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* brzeg lewy dolny linear-gradient(244deg, rgb(204 200 200) 98px, transparent 99px) */
.module .left-and-front-side {
    display: flex;

}

.module .front-side {
    background: linear-gradient(95deg, transparent 3%, #9a9a9a 5px, #9a9a9a 20%, transparent 72%), linear-gradient(105deg, transparent 44%, transparent calc(100% - 10px), #545252 calc(100% - 4px), transparent);
}

.module .left-side {
    width: 7px;
    background: linear-gradient(103deg, transparent 7.5px, #cacaca 8.5px, #9a9a9a 80%);
}

.module .head {
    display: flex;
    background: #f1f1f1;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px 5px 0 0;

}

.module .head .title {
    font-size: 0.7em;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: bold;
    color: transparent;
    text-transform: uppercase;
    text-shadow: rgba(245, 245, 245, 0.5) 1px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.module .head .title-wrapper {
    width: 100%;
    cursor: grab;
    padding: 0px 5px;
}


/* Module close */
.module .head .close {
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.module .head .close:hover {
    background-image: url('../img/close_hover.svg');
    opacity: .8
}

/* Module socket */
.module .socket-wrapper {
    height: 30px;
    width: 30px;
    left: -24px;
    top: 22px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: crosshair;
    z-index: 1;
}

.module .socket-wrapper img {
    height: 22px;
    object-fit: contain;
}

/* Module content */
.module .content {
    background: #f1f1f1;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 10px 10px;

}

.module .content .options {
    display: flex;
    min-height: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}


.module .content .controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: .25em;
}

.module .content .controllers.visualisation {
    flex-direction: column-reverse;
}

.module .content .controllers img{
    width: 70px;
}

.module .content .sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.module .content .controllers .analyser {
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px;
}

.module .content .controllers .analyser canvas {
    margin: 5px 5px 0px 0px;
    padding: 0px 0px 0px 5px;
}

.module .content select {
    background: url('../img/ico-arrow.png') 95% 50% no-repeat;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: .625em;
    outline: none;
    white-space: pre;
    min-width: 100px;
    width: 100%;
    margin-left: 5px;
    -webkit-appearance: none;
    -webkit-box-align: center;
}


.module .content .looper,
.normalizer {
    border-left: 1px solid #dbdbdb;
    font-size: .625em;
    padding: 4px;
    text-transform: uppercase;
    width: 50px;
    display: flex;
    justify-content: center;
}

.module .content .looper label,
.module .content .normalizer label {
    width: 100%;
    align-self: center;
}

.module .content .switch {
    background-image: url('../img/switch_off.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 70px;
}

.module .content .switch-on {
    background-image: url('../img/switch_on.svg');
}

.module .content .slider .slider-info .value-unit {
    display: flex;
    min-width: 59px;
    justify-content: center;
}


/* Module footer */
.module footer {
    background: linear-gradient(105deg, #9a9a9a 8px, #797575 12px, #797878, transparent calc(100% - 30px)), linear-gradient(105deg, transparent 30%, #545252 31%, #545252 calc(100% - 7.5px), transparent calc(100% - 6.5px));
    padding: 0px 8px 0px 11px;
    display: flex;
    height: 20px;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 0 16px 10px;
}

.module footer.move-by-switch {
    /* move by switch width (40px) + last footer padding-right (10px) */
    padding-right: 50px;
}


.module footer .parameter-wrapper {
    padding-top: 3.5px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: crosshair;
}

.module footer .parameter-wrapper.disabled {
    opacity: 50%;
    pointer-events: none;
}

.module footer .parameter-wrapper img {
    width: 25px;
    object-fit: contain;
}

/* Control group */
.control-group {
    margin: 0 0 1.2em;
}

.control-group.last {
    margin: 0;
}

.control-group:last-of-type {
    margin: 0;
}


.control-group.disabled .slider-info {
    color: #e0e0e0;
}

/* Slider */
.content {
    display: flex;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 68px;
}

.slider-info {
    font-size: .625em;
    margin-bottom: 1em;
    padding-bottom: .4em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-info .label {
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    text-shadow: rgba(245, 245, 245, 0.5) 1px 1px 1px;
    text-transform: uppercase;
    display: inline-block;
    cursor: help;
}

.slider-info .label .tooltip {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    transition: opacity 1s;
    /* (width+padding*2)/2 */
    text-transform: none;
}

.slider-info .label .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.slider-info .label:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.slider-info .value {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 2px;
}

.module .slider-info:last-child {
    margin-bottom: 0;
}

.ui-slider {
    background: url('../img/slider-bkg.gif') 0 0 repeat-x;
    border: 0 none;
    color: #fff;
    height: 11px;
    position: relative;
    text-align: left;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    color: #1c94c4;
}

.ui-slider .ui-slider-handle {
    background: url('../img/slider-handle.png') 0 1px no-repeat;
    border: 0 none;
    cursor: default;
    height: 18px;
    margin-left: -.6em;
    position: absolute;
    top: -.3em;
    width: 16px;
    z-index: 2;
}

.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0;
    display: block;
    font-size: .7em;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.ui-slider .ui-slider-range-min {
    left: 0;
}

.ui-slider .ui-slider-range-max {
    right: 0;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 7px;
}

input[type="range"] {
    -webkit-appearance: none;
    background: black;
    height: 2px;
    outline: none;
    width: var(--sliderWidth);
    position: absolute;
    right: -1px;
    /* minus range height to position to center */
    transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    bottom: 0;
}

@keyframes gradient {
    0% {
        background-position: 150% 150%
    }

    to {
        background-position: -150% -150%
    }
}


input[type="range"].disabled {
    pointer-events: none;
    background: linear-gradient(90deg, black, #FFD700, black);
    background-size: 300%;
    opacity: 70%;
    animation: gradient 3s linear infinite;
}

input[type="range"].not_used {
    pointer-events: none;
    background: black;
    background-size: 300%;
    opacity: 50%;
}

input[type="range"].disabled::-webkit-slider-thumb {
    background-image: url(../img/slider.svg);

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../img/slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.input-wrapper {
    height: var(--sliderWidth);
    position: relative;
}


.alertText {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    width: 160px;
    background-color: rgb(100, 43, 43);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -7%;
    right: 65%;
    text-transform: none;
}

.alert .alertText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    opacity: 1;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(100, 43, 43) ;
}