/* main.css */

/*	---------------------------------------------------------------------------
 *	:: Type
 *
 *  - Fonts
 *	- Base
 *	- Links
 *	-------------------------------------------------------------------------*/


:root {
    --sliderWidth: 135px;
    user-select: none
}

div.link {
    position: fixed;
    font-style: italic;
    color: lightgrey;
    bottom: 0px;
    right: 120px;
}

div.link a {
    color: white;
    font: inherit;
    text-decoration: underline;
}

/* Fonts */
@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
        url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
        url('../fonts/proxima_nova_reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base */
html,
button,
input,
select,
textarea {
    font-family: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4c4c4c;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/* Links */
a,
a:visited {
    color: #4c4c4c;
    font-size: .6875em;
    /* 11 / 16 */
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}


/*	---------------------------------------------------------------------------
 *	:: Raw elements
 *	-------------------------------------------------------------------------*/
body {
    background: url('../img/body-bkg.gif');
}


/*	---------------------------------------------------------------------------
 *	:: Main
 *
 *	- Header
 *	- Nav
 *  - Controls
 *  - Dropdown
 *  - Dropdown arrow
 *  - Modules
 *	-------------------------------------------------------------------------*/
#main {
    padding-right: 106px;
    position: relative;
    z-index: 1;
}

#svgCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Header */
#header {
    margin: 0;
    padding: 2em 0 0 2em;
}

/* Nav */
#nav {
    margin: 0 0 1.3em;
    padding: 1.3em 0 0 2em;
}

/* Controls */
#controls {
    list-style: none;
    margin: 0;
    padding: 0;
}

#controls li {
    float: left;
    margin-right: .8em;
    position: relative;
}

#controls a {
    background: url('../img/ico-plus.png') .9em 50% no-repeat #fff;
    border-radius: 5px;
    color: #4c4c4c;
    display: block;
    font-size: .625em;
    /* 11 / 16 */
    padding: .5em 1em .4em 2.6em;
    text-transform: uppercase;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

/* Dropdown */
#controls .sub-menu {
    display: none;
    left: 0;
    padding-top: 8px;
    position: absolute;
    z-index: 1000;
}

#controls ul {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: .2em 0;
    position: relative;
}

#controls ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#controls ul a {
    background: none;
    background-image: none;
    border-radius: 0;
    padding: .5em 1em .4em;
    white-space: nowrap;
}

#controls ul a:hover {
    background-color: #dbdbdb;
}

#controls li:hover .sub-menu {
    display: block;
}

/* Dropdown arrow */
#controls ul:after,
#controls ul:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#controls ul:after {
    border-bottom-color: #ffffff;
    border-width: 8px;
    left: 20%;
    margin-left: -8px;
}

#controls ul:before {
    border-bottom-color: #aaa;
    border-width: 9px;
    left: 20%;
    margin-left: -9px;
}

/* Modules */
#modules {
    padding-left: 2em;
}

/*	---------------------------------------------------------------------------
 *	:: Final destination 
 *	-------------------------------------------------------------------------*/
.destination {
    background:
        url('../img/ico-speaker.png') 50% 50% no-repeat,
        url('../img/output-bkg.gif') 0 0 repeat;
    border-left: 1px solid #363636;
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 105px;
    z-index: 100;
}

.destination .destination-input {
    background: url(../img/jack_in.svg);
    left: -80px;
    width: 100%;
    height: 100%;
    position: absolute;
    /* cursor: crosshair; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*	---------------------------------------------------------------------------
 *	:: Global classes and styles
 *
 *	- Clearfix
 *	- Nodes
 *	- Modules
 *	- Module nodes
 *	- Module close
 *	- Module footer
 *	- Control group
 *	- Slider
 *	-------------------------------------------------------------------------*/

/* Clearfix */
.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.container {
    *zoom: 1;
}

.selection-rect {
    border: 1px dotted #000;
    position: absolute;
    background: #1c94c44b;
  }

/* Nodes */

.jackCursor {
    cursor: url('../img/jack_cleared.svg'), auto;
}

/* Modules */
.module {
    border-radius: 5px;
    filter: drop-shadow(
    2px 4px 8px hsl(0deg 0% 25%)
  );
    display: inline-block;
    position: absolute;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 25%, rgba(204, 204, 204, 1) 100%);
}


.module .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}
.module .head .title {
    font-size: .75em;
    margin: 0 10px;
    font-weight: bold;
    pointer-events: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.module .head .title-wrapper {
    width: 100%;
}


/* Module close */
.module .head .close {
    background: url('../img/ico-close.gif') 0 0 no-repeat;
    height: 20px;
    width: 20px;
    background-position: center;
}

.module .head .close:hover {
    opacity: .8
}

/* Module nodes */

.module .input {

    cursor: default;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
}

/* .module .nodes .module-output {
    background-image: url('../img/jack_hanging.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 23px;
    height: 106px;
    right: -23px;
    position: absolute;
} */

.module .imput .imput.hidden {
    opacity: 0;
}

.module .input {
    background-image: url('../img/jack_in.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    left: -30px;
    position: absolute;
}

/* Module content */
.module .content {
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    margin: 0 5px;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module .content .options {
    padding: 0em .4em .1em;
    display: flex;
    min-height: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}


.module .content .controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: .25em;
}

.module .content select {
    background: url('../img/ico-arrow.png') 95% 50% no-repeat;
    border: none;
    box-sizing: border-box;
    cursor: default;
    font-family: 'Droid Serif', Georgia, serif;
    font-size: .625em;
    font-style: italic;
    outline: none;
    white-space: pre;
    width: 100%;
    -webkit-appearance: none;
    -webkit-box-align: center;
}


.module .content .looper,
.normalizer {
    border-left: 1px solid #dbdbdb;
    font-size: .625em;
    padding: 4px;
    text-transform: uppercase;
    width: 50px;
    display: flex;
    justify-content: center;
}

.module .content .looper label,
.module .content .normalizer label {
    cursor: pointer;
    width: 100%;
    align-self: center;
}

.module .content .switch {
    background-image: url('../img/switch_off_new.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 70px;
}

.module .content .switch-on {
    background-image: url('../img/switch_on_new.svg');
}

.module .content .slider .slider-info .value-unit {
    display: flex;
    min-width: 59px;
    justify-content: center;
}

.module .analyserCanvas {
    margin: 10px;
    background-image: url('../img/analyser-bg.png');
}


/* Module footer */
.module footer {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    min-width: 120px;
    cursor: auto;
}

.module footer.move-by-switch {
    /* move by switch width (40px) + last footer padding-right (10px) */
    padding-right: 50px;
}

.module footer .audio-parameter {
    background-image: url('../img/jack_in_2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 20px;
    filter: grayscale(100%);
    cursor: crosshair;
}

.module footer .audio-parameter.disabled {
    opacity: 50%;
    pointer-events: none;
}

/* Control group */
.control-group {
    margin: 0 0 1.2em;
}

.control-group.last {
    margin: 0;
}

.control-group:last-of-type {
    margin: 0;
}


.control-group.disabled .slider-info {
    color: #e0e0e0;
}

/* Slider */
.content {
    display: flex;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 78px;
}

.slider-info {
    font-size: .625em;
    /* 10 / 16 */
    margin-bottom: 1em;
    overflow: hidden;
    padding-bottom: .4em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-info .label {
    /* float: left; */
    text-transform: uppercase;
    /* width: 49%; */
    display: block;
}

.slider-info .value {
    /* float: right; */
    font-weight: bold;
    /* text-align: right; */
    text-transform: uppercase;
    /* width: 49%; */
    display: block;
    /* min-width: 59px; */
    text-align: center;
    margin: 0 2px;
}

.module .slider-info:last-child {
    margin-bottom: 0;
}

.ui-slider {
    background: url('../img/slider-bkg.gif') 0 0 repeat-x;
    border: 0 none;
    color: #fff;
    height: 11px;
    position: relative;
    text-align: left;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    color: #1c94c4;
}

.ui-slider .ui-slider-handle {
    background: url('../img/slider-handle.png') 0 1px no-repeat;
    border: 0 none;
    cursor: default;
    height: 18px;
    margin-left: -.6em;
    position: absolute;
    top: -.3em;
    width: 16px;
    z-index: 2;
}

.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0;
    display: block;
    font-size: .7em;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.ui-slider .ui-slider-range-min {
    left: 0;
}

.ui-slider .ui-slider-range-max {
    right: 0;
}

input[type="checkbox"] {
    margin-right: 7px;
}

input[type="range"] {
    -webkit-appearance: none;
    background: black;
    height: 2px;
    outline: none;
    width: var(--sliderWidth);	
    position: absolute;
    right: -1px;
    /* minus range height to position to center */
    transform: rotate(270deg) translate(50%, calc(var(--sliderWidth) / 2));
    bottom: 0;
}

@keyframes gradient{0%{background-position:150% 150%}to{background-position:-150% -150%}}


input[type="range"].disabled {
    pointer-events: none;
    /* opacity: 50%; */
    background: linear-gradient(90deg,black,#FFD700,black);
    background-size: 300%;
    opacity: 70%;
    animation: gradient 3s linear infinite;
}

input[type="range"].disabled::-webkit-slider-thumb {
    background-image: url(../img/suwak_off.png);

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url(../img/suwak.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.input-wrapper {
    height: 135px;
    position: relative;
}